<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <!-- Reference: http://webservices20.blogspot.co.nz/2012/06/12-common-wcf-interop-confusions.html -->
        <binding name="DigitalSignature">
          <textMessageEncoding messageVersion="Soap12" />
          <security defaultAlgorithmSuite="Basic128Sha256Rsa15" enableUnsecuredResponse="true"
            authenticationMode="MutualCertificate" includeTimestamp="true"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings timestampValidityDuration="00:00:05" />
          </security>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:1641/Service1.svc" binding="customBinding" behaviorConfiguration="ClientCertificate"
        bindingConfiguration="DigitalSignature" contract="EchoService.IEchoService"
        name="BasicHttpBinding_IEchoService">
        <identity>
          <!-- TO BE MODIFIED - to match the subject name of the client cert used. -->
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="echoBehaviorExtension" type="WcfDigitalSignature.Client.EchoBehaviorExtensionElement, WcfDigitalSignature.Client" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificate">
          <clientCredentials>
            <!-- TO BE MODIFIED - to match the thumbprint of the client cert used. -->
            <clientCertificate storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="localhost"/>
            <serviceCertificate>
              <!-- TO BE MODIFIED - to match the thumbprint of the client cert used. -->
              <defaultCertificate storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="localhost"/>
              <authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine" />
            </serviceCertificate>
          </clientCredentials>
          <echoBehaviorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <diagnostics performanceCounters="All" wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" logKnownPii="true" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="logger" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="All">
        <listeners>
          <add name="logger" />
        </listeners>
      </source>
      <source name="System.IO.Log" switchValue="All">
        <listeners>
          <add name="logger" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="All">
        <listeners>
          <add name="logger" />
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="All">
        <listeners>
          <add name="logger" />
        </listeners>
      </source>
      <source name="System.ServiceModel.IdentityModel" switchValue="All">
        <listeners>
          <add name="logger" />
        </listeners>
      </source>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="NetworkTraceLogger"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="NetworkTraceLogger"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="trace.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="logger" />
      <add initializeData="network_trace.log" type="System.Diagnostics.TextWriterTraceListener" name="NetworkTraceLogger" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>